.blog_lamdep .blog {
    margin-bottom: 30px;
}

.post_more {
    text-align: right;
}

.post_meta.date-time {
    font-style: italic;
    font-size: 12px;
}

.blog-grid-title{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog-grid-short-desc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

}
.blog-grid-short-desc>*{
    font-size: 12px;
    text-transform: none;
}